header{
    background-image: linear-gradient(to right, rgb(64, 44, 243), rgb(50, 8, 85));
    color: white;
    
}

header p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.card-body{
    margin: 5px 0;
    padding: 0;
}

.city{
    padding: 0 13px;
}

.submitBtn{
    background-color: lightblue;
    border-radius: 4px;
    margin: 10px 0;
    padding: 2px 80px;
    text-align: center;
    text-decoration: none;
}

.cityBtn{
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    text-decoration: none;
    width: 210px;
}

.fiveDaysContainer{
    display: flex;
    flex-wrap: nowrap;
}

.day{
    color: white;
    font-size: smaller;
    margin: 5px;
    padding: 10px;
}

